@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-quantity {
    position: relative;
    bottom: 30px;
    left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: 10px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 50%;
}


